<html>  
  <head>    
    <title>
      Abandonment 1
    </title>
    <meta content="width=device-width" name="viewport"/>
    <style>
        body {
            margin: 0;
        }

        a, a:hover {
            text-decoration: none;
        }
        html{font-size: 16px;}
        @media only screen and (max-width: 600px){
          .mobile-24 {font-size: 51px !important;margin-bottom: 50px !important;}
          .mobile-18 {font-size: 36px !important;}
          .mobile-16 {font-size: 32px !important;}
          .mobile-12 {font-size: 24px !important;}
          .mobile-10 {font-size: 20px !important;}
          .mobile-logo {height: 118px !important;}
          .mobile-logo img {width: 226px;max-height: none !important;}
          .mobile-lh-22 {line-height:51px !important}
          .mobile-lh-30 {line-height:35px !important}
          .mobile-product-img {width:168px !important;}
          .mobile-btn {padding: 28px 98px !important;}
        }
        @media (max-width: 600px) {
            .container {
                width: 94% !important;
            }

            .main-action-cell {
                float: none !important;
                margin-right: 0 !important;
            }

            .secondary-action-cell {
                text-align: center;
                width: 100%;
            }

            .header {
                margin-top: 20px !important;
                margin-bottom: 2px !important;
            }

            .shop-name__cell {
                display: block;
            }

            .order-number__cell {
                display: block;
                text-align: left !important;
                margin-top: 20px;
            }

            .button {
                width: 100%;
            }

            .or {
                margin-right: 0 !important;
            }

            .apple-wallet-button {
                text-align: center;
            }

            .customer-info__item {
                display: block;
                width: 100% !important;
            }

            .spacer {
                display: none;
            }

            .subtotal-spacer {
                display: none;
            }
        }
    </style>
  </head>
  <body style='font-family: Arial, Helvetica, sans-serif;"'>    
    <table style="border-spacing: 0 !important; border-collapse: collapse !important; width: 100% !important;height: 100% !important;">      
      <tr>        
        <td align="center" style="font-size: 0.875rem !important; background: #e0e0e0 !important;" valign="center">          
          <table class="body" style="width: 100% !important; width: 685px !important; border-spacing: 0; border-collapse: collapse;">            
            <tr>              
              <td align="center" style="background: #F2F2F6 !important; height: 65px" valign="center" class='mobile-logo'>                
                <img alt="" data-index="0" src="{{ event.store.logo_url }}" style="display:block;border:0;outline:none;height:auto;max-height:40px"/>
              </td>
            </tr>
            <tr>              
              <td align="center" style="background: #fff !important;" valign="center">                
                <div style="padding: 30px !important;">                  
                  <table style="margin-bottom: 15px !important;border-spacing: 0 !important; border-collapse: collapse !important; width: 100% !important;">                    
                    <tr>                      
                      <td>                        
                        <div style="margin-top: 10px !important; line-height: 1rem; color: #3a3a3a !important;" class="mobile-16">                      
                          <div style="font-weight: bold;font-size: 1.5rem; color: #3a3a3a !important; line-height: 1 !important; margin: 0 0 20px; padding: 0 !important; text-align: center !important;text-align: center" class='mobile-24'>
                            We Guarantee You’ll Love Us
                          </div>
                          <div style="margin: 0 !important;font-size: 1.125rem;text-align: center !important" class='mobile-18'>
                            Hi
                            <strong style="color: #6170f7;">{{ event.BillingAddress.FirstName }}<span>,</span></strong>
                          </div>
                          <p style="margin: 0 !important; margin-bottom: 10px !important;line-height:22px;color: #000000 !important;text-align: center !important;font-size: 1rem;" class="mobile-18 mobile-lh-22">                            <br/>
                            These awesome items and you are a match made in heaven!<br/>Complete your order because you guys are meant to be.                            
                          </p>
                        </div>
                      </td>
                    </tr>
                  </table>
<!--Loop item - Begin-->
                  {% for item in event.Items %}
                  <table style="border-spacing: 0 !important;width: 100% !important;border: 1px solid #D2D2D2 !important;border-radius:10px !important;margin-bottom: 30px !important;">                  
                    <tr>                      
                      <td style="padding: 20px !important">                        
                        <table style="border-spacing: 0 !important; border-collapse: collapse !important; width: 100% !important;">                          
                          <tr>                            
                            <td style="width: 30% !important">                              
                              <img src="{{ item.ImageURL }}" style="display: block !important; width: 144px" class='mobile-product-img'/>
                            </td>
                            <td style="padding-left: 20px !important" valign="top">                              
                              <div style="margin-bottom: 10px !important;font-size: 1.125rem; line-height: 1.075rem; color: #3a3a3a !important; font-weight: bold !important;" class='mobile-16 mobile-lh-30'>
                                {{ item.ProductName }}
                              </div>
                              <div style="margin-top: 3px !important;font-size: 1rem; line-height: 1.075rem; color: #72849C !important;" class='mobile-10 mobile-lh-30'>
                                {{ item.Options }}
                              </div>
                              <div style="margin-top: 3px !important;font-size: 1rem; line-height: 1.35rem; color: #72849C !important;word-break: break-all;" class='mobile-10 mobile-lh-30'>
                                SKU: {{ item.SKU }}
                              </div>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    <tr>                      
                      <td align="right" style="background: #F6F6F9 !important; padding: 20px !important;border-bottom-left-radius: 10px !important;border-bottom-right-radius: 10px;" class='mobile-12'>
                        {{ item.Quantity }} {% if item.PersonalizedIdx == 1 %} pcs {% endif %} x
                        <strong>{{ item.ItemPrice }}</strong>
                      </td>
                    </tr>
                  </table>
                  {% endfor %}<!--Loop item - End-->
<!--Subtotal - Begin-->
                  <table style="border-spacing: 0 !important; border-collapse: collapse !important; width: 100% !important;border-top-width: 1px !important; border-top-color: #E0E0E0 !important; border-top-style: dashed !important;">                    
                    <tr>                      
                      <td class="mobile-16" style="color: #3a3a3a !important; font-size: 0.875rem; padding: 20px 0 5px 0 !important;">
                        Subtotal:
                      </td>
                      <td class="mobile-16" align="right" style="color: #3a3a3a !important; font-size: 0.875rem; padding: 20px 0 5px 0 !important;">
                        {{ event.SubTotalPrice }}
                      </td>
                    </tr>
                    {% for discount in event.DiscountData.item %}
                    <tr>                      
                      <td class="mobile-16" style="color: #3a3a3a !important; font-size: 0.875rem; padding: 5px 0 !important;">
                        Promo Code:
                        <span style="color: #FF5C00 !important;">{{ discount.discount_code }}</span>
                      </td>
                      <td class="mobile-16" align="right" style="color: #3a3a3a !important; font-size: 0.875rem; padding: 5px 0 !important;">
                        {{ discount.discount_price_currency }}
                      </td>
                    </tr>
                    {% endfor %}<!--Loop item - End-->
                    {% if event.BuyDesign.price and event.BuyDesign.price != 0 %}
                    <tr>                      
                      <td class="mobile-16" style="color: #3a3a3a !important;font-size: 0.875rem; padding: 5px 0 !important;">
                        Digital Image: ( {{ event.BuyDesign.count }} Design{% if event.BuyDesign.count != 1 %}s{% endif %} ):
                      </td>
                      <td class="mobile-16" align="right" style="color: #3a3a3a !important;font-size: 0.875rem; padding: 5px 0 !important;">
                        {{ event.BuyDesign.price }}
                      </td>
                    </tr>
                    {% endif %}
                    <tr>                      
                      <td class="mobile-16" style="color: #3a3a3a !important;font-size: 0.875rem; padding: 5px 0 !important;">
                        Shipping:
                      </td>
                      <td class="mobile-16" align="right" style="color: #3a3a3a !important;font-size: 0.875rem; padding: 5px 0 !important;">
                        {{ event.ShippingPrice }}
                      </td>
                    </tr>
                  </table>
<!--Subtotal - End-->
<!--Total - Begin-->
                  <table style="border-spacing: 0 !important; border-collapse: collapse !important; width: 100% !important;border-top-width: 1px !important; border-top-color: #E0E0E0 !important; border-top-style: dashed !important; margin: 15px 0 !important">                    
                    <tr>                      
                      <td class='mobile-18' style="font-size: 1.125rem; color: #3a3a3a !important; font-weight: bold !important; padding: 20px 0 5px 0 !important;">
                        Total:
                      </td>
                      <td align="right" style="font-size: 1.125rem !important; color: #3a3a3a !important; font-weight: bold !important; padding: 20px 0 5px 0 !important;">
                        {{ event.TotalPrice }}
                      </td>
                    </tr>
                    {% if event.DiscountValue != 0 %}
                    <tr>                      
                      <td class="mobile-16" style="color: #3a3a3a !important; font-size: 0.875rem; padding: 5px 0 !important;">
                        You saved
                      </td>
                      <td class="mobile-16" align="right" style="color: #3a3a3a !important; font-size: 0.875rem; padding: 5px 0 !important;">
                        {{ event.DiscountValue }} USD
                      </td>
                    </tr>
                    {% endif %}
                  </table>
                  <table class="body" style="border-spacing: 0 !important; border-collapse: collapse !important; width: 100% !important;margin-top: 30px !important; margin-bottom: 30px !important">                    
                    <tr>                      
                      <td align="center" valign="center">                        
                        <table class="button main-action-cell" style="border-spacing: 0 !important; border-collapse: collapse !important;">                          
                          <tr>                            
                            <td align="center">                              <a href="{{ event.CartUrl }}" style="cursor: pointer !important; border-radius: 8px !important; background: #70BE54 !important;box-sizing: border-box;font-weight:bold;text-decoration:none; cursor:pointer; font-size: 1.125rem;display:inline-block; color:#fff; padding:12px 35px" class='mobile-btn mobile-18'>
                                                        COMPLETE YOUR ORDER
                                                    </a>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
<!--Total - End-->
<!--Footer Begin-->
                  <table style="border-spacing: 0 !important; border-collapse: collapse !important; width: 100% !important;border-top-width: 1px !important; border-top-color: #E0E0E0 !important; border-top-style: solid !important; margin-top: 30px !important">                    
                    <tr>                      
                      <td style="padding: 20px 0 !important">                        
                        <div style="text-align: center !important; font-size: 0.75rem; line-height: 1.075rem; color: #AEB2BF !important" class='mobile-12 mobile-lh-30'>
                          If you have any questions or need any help, don't hesitate to contact me directly via
                          <a href="mailto:{{ event.store.support_email }}" style="color: #2f80ed !important;font-size: 0.75rem; line-height: 1.075rem; text-decoration: underline !important" class='mobile-12'>
                                                {{ event.store.support_email }}
                                            </a>
                        </div>
                        <div class='mobile-12 mobile-lh-30' style="text-align: center !important; font-size: 0.75rem; line-height: 1.075rem; color: #AEB2BF !important; margin-top: 5px !important;">
                          P.S: You are receving this newsletter because you subscribed to our mailing list
                                            via:
                          <a class='mobile-12' href="{{ event.store.url }}" style="color: #2f80ed !important; font-size: 0.75rem; line-height: 1.075rem; text-decoration: underline !important" target="_blank">{{ event.store.name }}</a>
                        </div>
                        <div class='mobile-12 mobile-lh-30' style="text-align: center !important; font-size: 0.75rem; line-height: 1.075rem; color: #AEB2BF !important; margin-top: 5px !important;">
                          {% unsubscribe %}
                                            |
                          <a class='mobile-12' href="{{ event.store.faq_url }}" style="text-align: center !important; font-size: 0.75rem; line-height: 1.075rem; color: #AEB2BF !important" target="_blank">Visit FAQ</a>
                        </div>
                      </td>
                    </tr>
                  </table>
<!--Footer End-->
                </div>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>